
*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: blanchedalmond;
    padding: 100px 300px;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav >ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.brand{
    margin-top: 50px;
    text-align: center;

}
.brandWrite{
    max-width: 600px;
    margin: auto;

}
.brandWrite h1{
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
.btnPrimary{
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.brand img{
    width: 100%;
}


main{
    max-width: 1440px;
    margin:0 auto;
}
.imgSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    flex: 1;

}
.imgContent{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    display: flex;
}


/* small screen */
@media screen and (max-width:576px) {
    header{
        padding: 5px 10px;
    }
    nav{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

/* table screen */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding:50px;
    }
}